{% extends 'base.html' %} 
    <title>{% block title %} {{ title }} {% endblock %}</title>
  </head>
  <body>
    <header>   
    </header>
    <main>
      {% block content %}
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container">
        <h1> {{ title }} <br> {{ group.description }}</h1>
        <p>
          Записи сообщества {{ group }}
        </p>
        {% for post in posts %}
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>      
          <p>
            {{ post.text|linebreaksbr }}
            {% if not forloop.last %} <hr> {% endif %}
            {% endfor %}
          </p>         
        </article>
        <hr>
        <!-- под последним постом нет линии -->
      </div>
      {% endblock %}  
    </main>
    <footer>   
    </footer>
  </body>
</html>